/*
  ========================================
  Eric Meyer’s CSSS Reset
  ========================================
  http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of Eric Meyer’s CSSS Reset */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

#out {
  width: 960px;
  margin: 0 auto;
}

.channel {
  border-bottom: 1px solid grey;
}

.logo, .stream-info {
  display: inline-block;
  vertical-align: top;
}

.logo {
  width: 10%;
  padding: 5px 0 5px 5px;
}

.logo img {
  max-width: 100%;
  display: block;
}

/* http://thenewcode.com/532/Convert-Images-To-Black-And-White-With-CSS */
.img-offline {
  filter: grayscale(100%);
}

.stream-info {
  width: 89%;
  padding: 5px 0 5px 5px;
}

.stream-info h3, 
.stream-info a, 
.stream-info p {
}

.stream-info h3,  
.stream-info a {
  font-size: 18px;
}

.stream-info p {
  font-size: 15px;
  margin-bottom: 5px;
}

.stream-content {
  margin-left: 10px;
}

.stream-content ul {
  font-size: 15px;
}

.stream-content ul span {
  font-weight: 900;
}

.si-offline {
  color: lightgrey;
}

.online:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #00a312;
  position: relative;
  border-radius: 50%;
  left: -4px;
  top: -1px;
}

.offline:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid grey;
  position: relative;
  border-radius: 50%;
  left: -4px;
  top: -1px;
}